*{
    padding:0;
    margin: 0;
    color: aliceblue;
}

html{
    height: 100%;
}

body{
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-between;
}

button{
    background-color: hsl(202, 89%, 38%) ;
    font-size: 20px;
    height: 35px;
    border-radius:10px ;
    margin-top: 15px;
    margin-right: 15px;
}

button:hover{
    background-color: hsl(202, 90%, 23%)  ;
}

.nav-logo{
    height: 60px;
    width: 100px;
    align-content: center;
}

.logo{
    height: 60px;
    width: 175px;
    background-position:left ;
    background-image: url(grand\ crest.png);
    background-size: cover;
    margin-left:0px;
}

#logo1{
    color: hsl(202, 94%, 49%) ;
    font-size: 25px;
}

a{
   margin-right: 130px;
   margin-top: 18px;
   text-decoration: none;
   font-size: 20px;
   top: 25px;
}

.contentbox{
    height: 525px;
    width: 1525px;
    border: 2px, solid,black;
    display: inline-block;
    cursor: pointer;

}
#content.h1{
    color: #0f1111;
    font-size: 45px;
    margin-bottom: 15px;
}

#ho1:hover{
   opacity:0.5; 
}
#ho2:hover{
    opacity:0.5;
 }
 #ho3:hover{
    opacity:0.5;
 }
 #ho4:hover{
    opacity:0.5;
 }

#content{
    height: 100%;
}

#ho1{
    background-size:cover;
    background-image: url("img1.png");
    
}
#ho2{
    background-image: url("img2.png");
    background-size: cover;
   
}
#ho3{
    background-image: url("img3.png");
    background-size: cover;
}
#ho4{
    background-image: url("img4.png");
    background-size: cover;
}


footer{
    background-color: #0f1111;
     color: white;
     text-align: center;
 }